<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{ $title := site.Title }}
    {{ if not .IsHome }}
      {{ $title = printf "%s | %s" .Title site.Title }}
    {{ end }}
    <title>
      {{ $title }}
    </title>

    <meta name="author" content="Gabriela Gonçalves">
    <meta name="description" content="Portfólio de Jean Goes.">
    <!-- basic favicon -->
    <link rel="shortcut icon" type="image/png" href="../../static/img/favicon-ana.png" />
    <link rel="icon" type="image/png" href="../../static/img/favicon-ana.png" />


    <link rel="stylesheet" type="text/css" href="../../static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet"> 

  </head>
  <body class="scroll">
      <header class="menu-layout">
            <a href="javascript:;" class="mobile-menu">
                    <!-- <img src="assets/img/menu-button.svg"/>  -->
                    <div class="menu-btn not-active">
                       <span></span>
                       <span></span>
                       <span></span>
                     </div>
               </a>
        <nav class="menu" id="menu">
          <img src="assets/icons/triangle.svg" class="setas"/>
            <a href="#inicio"  class="menu-item item-active"><p>Início</p></a>
            <a href="#edicao-motion" class="menu-item"><p>Edição e Motion</p></a>
            <a href="#cinema" class="menu-item"><p>Cinema</p></a>
            <a href="#outros" class="menu-item"><p>Outros ?</p></a>
            <a href="#fita-crepe" class="menu-item"><p>Fita Crepe Produções</p></a>
            <a href="#fita-crepe" class="menu-item"><p>Sobre Mim</p></a>
          <img src="assets/icons/triangle.svg" class="setas seta-inv"/>
        </nav>

        <div class="copyright">
            <span>
                © Copyright Jean Goes 2020
            </span>
        </div>
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      <!-- some footer -->
    </footer>
  </body>
</html>