<div class="page-container">
  <div class="grid auto-rows scroll auto-rows-controller" id="grid">

        <div class="container-grid grid-title">
    
            <div class="grid-item" style="background-color: transparent;">
                
                <div>
                    <h1 class="page-title"> Cinema </h1>
                </div>

                <ul class="grid-filter">
                    <li> <a href="javascript:;"> Assistente de Direção </a> </li>
                    <li> <a href="javascript:;"> Editora </a> </li>
                    <li> <a href="javascript:;"> Produtora </a> </li>
                    <li> <a href="javascript:;"> Assistente de Direção </a> </li>
                    <li> <a href="javascript:;"> Editora </a> </li>
                    <li> <a href="javascript:;"> Produtora </a> </li>
                    <li> <a href="javascript:;"> Diretora de Fotografia </a> </li>
                    <li> <a href="javascript:;"> Assistente de Direção </a> </li>
                    <li> <a href="javascript:;"> Diretora de Fotografia </a> </li>
                    <li> <a href="javascript:;"> Editora </a> </li>
                    <li> <a href="javascript:;"> Produtora </a> </li>
                    <li> <a href="javascript:;"> Diretora de Fotografia </a> </li>
                </ul>


            </div>
       
        </div>

        <div class="container-grid padding-bottom" style="order: 1;">
            <div class="grid-item">
                <div class="grid-media">
                    <img src="assets/img/pages/diadasmaes.jpg" />
                </div>

                <div>
                    <h2>Melanina Carioca - Adrenalina</h2>
                    <h3> Lyric Video </h3>
                    <ul class="grid-item-tag">
                        <li> <a > Assistente de Direção </a> </li>
                        <li> <a > Editora </a> </li>
                        <li> <a > Produtora </a> </li>
                        
                    </ul>
                 </div>
            </div>
        </div>

        <div class="container-grid padding-bottom" style="order: 2;">
            <div class="grid-item">
                <div class="grid-media">
                    <img src="assets/img/pages/bola.jpg" />
                </div>    
                <div>
                    <h2>Melanina Carioca - Adrenalina</h2>
                    <h3> Lyric Video </h3>
                    <ul class="grid-item-tag">
                        <li> <a > Assistente de Direção </a> </li>
                        <li> <a > Editora </a> </li>
                        <li> <a > Produtora </a> </li>
                        <li> <a > Diretora de Fotografia </a> </li>
                        <li> <a > Assistente de Direção </a> </li>
                    </ul>
                 </div>
            </div>
        </div>

        <div class="container-grid padding-bottom" style="order: 3;">
            <div class="grid-item">
                <div class="grid-media">
                     <img src="assets/img/pages/previsao.jpg" />
                </div>
                <div>
                    <h2>Melanina Carioca - Adrenalina</h2>
                    <h3> Lyric Video </h3>
                    <ul class="grid-item-tag">
                        <li> <a > Assistente de Direção </a> </li>
                        <li> <a > Editora </a> </li>
                        <li> <a > Produtora </a> </li>
                        <li> <a > Diretora de Fotografia </a> </li>
                        <li> <a > Assistente de Direção </a> </li>
                        <li> <a > Produtora </a> </li>
                        <li> <a > Diretora de Fotografia </a> </li>
                    </ul>
                 </div>
            </div>
        </div>

        <div class="container-grid padding-bottom" style="order: 4;">
            <div class="grid-item">
                <div class="grid-media">
                     <img src="assets/img/pages/previsao.jpg" />
                </div>
                <div>
                    <h2>Melanina Carioca - Adrenalina</h2>
                    <h3> Lyric Video </h3>
                    <ul class="grid-item-tag">
                        <li> <a > Assistente de Direção </a> </li>
                        <li> <a > Editora </a> </li>
                        <li> <a > Produtora </a> </li>
                        <li> <a > Diretora de Fotografia </a> </li>
                        <li> <a > Assistente de Direção </a> </li>
                        <li> <a > Produtora </a> </li>
                        <li> <a > Diretora de Fotografia </a> </li>
                    </ul>
                 </div>
            </div>
        </div>

        <div class="container-grid padding-bottom" style="order: 5;">
            <div class="grid-item">
                <div class="grid-media">
                    <img src="assets/img/pages/diadasmaes.jpg" />
                </div>

                <div>
                    <h2>Melanina Carioca - Adrenalina</h2>
                    <h3> Lyric Video </h3>
                    <ul class="grid-item-tag">
                        <li> <a > Assistente de Direção </a> </li>
                        <li> <a > Editora </a> </li>
                        <li> <a > Produtora </a> </li>
                        
                    </ul>
                 </div>
            </div>
        </div>

<!-- 
        <div class="container-grid" style="order: 4;">
            <div class="grid-item">
                <img src="assets/img/pages/diadasmaes.jpg" />
            </div>
        </div>
        
        <div class="container-grid" style="order: 5;">
            <div class="grid-item">
                <img src="assets/img/pages/diadasmaes.jpg" />
            </div>
        </div>

        <div class="container-grid" style="order: 6;">
            <div class="grid-item">
                <img src="assets/img/pages/diadasmaes.jpg" />
            </div>
        </div> -->
<!-- 
        <div class="container-grid" style="order: 7;">
            <div class="grid-item">
                <img src="assets/img/pages/diadasmaes.jpg" />
            </div>
        </div>
             -->
        

  </div>

  <footer>
        <span class="footer-line"></span>
    
        <div class="page-footer"> 
            <div class="page-footer-img">
              <img src="assets/img/anamon-logo.svg"/>
            </div>
    
              <span>
              © Copyright Ana Amon 2019</span>
              <div>
                  <a href="http://www.gabidigital.work/" target="blank" class="page-assinatura">Desenvolvido por <img src="assets/img/fav-gabi.svg" class="assinatura-img" /></a>
              </div>
      
        </div>
    
     </footer>
</div>
