<!DOCTYPE html>
<html lang="pt-BR">

    {{ partial "head" . }}

    <body class="scroll">

      <div class="layout scroll">   
  
          {{ partial "header" . }}
        
          {{ block "main" . }}{{ end }}
   
      </div>

          {{ partial "modal" . }}

      <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }

        window.onload = function() {
          const year = (new Date()).getFullYear()
          document.getElementById("year").innerHTML = year;  
        }
      </script>
      
    </body>
</html>