<section id="contato" class="container-contato contato-await scroll">

    <div class="content-active">

        <div class="contato-actions">

            <a href="javascript:;" class="contato-link openmenu">
                <p class="text-contato">Entre em contato</p>
                <img src="../assets/icons/triangle.svg" class="seta-contato">
            </a>

            <a href="javascript:;" class="close-btn"><img src="../assets/icons/close-btn.svg" style="width:40px;" /></a>

        </div>

        <div class="contato-content ">

            <div class="contato-top">

                <div class="resume-header">
                    <img class="foto-perfil" src="{{ .fotoPerfil }}" />

                    <div class="resume-description">
                        <p class="resume-text">{{ .contactDescription }}</p>
        
                        <a href="{{ .dominio }}{{ .curriculum }}" class="resume-btn" target="_blank">
                            <img src="../assets/icons/download-button.svg" class="resume-icon">
                            Currículo
                        </a>
                    </div>
                   
                </div>

                <form netlify data-netlify="true" name="Contato" method="post" id="contato-form" class="form">
                    <p class="form-message"></p>

                    <input id="nome-form" type="text" name="nome" placeholder="nome" class="form-field" />

                    <input id="email-form" type="email" name="email" placeholder="e-mail" class="form-field" required/>

                    <input id="assunto-form" type="text" name="assunto" placeholder="assunto" class="form-field" />

                    <textarea id="mensagem-form" name="mensagem" form="contato-form" placeholder="mensagem"
                        class="form-field scroll" required></textarea>

                    <input class="hidden" name="bot-field" placeholder="Não preencha esse campo se você for humano."/>

                    <div class="submit-btn">
                        <button class="form-btn-send" type="submit">
                            <div class="lds-ellipsis">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <span class="form-label-send">Enviar</span>
                        </button>
                        <button class="form-btn-sucess">
                             Mensagem enviada com sucesso!
                        </button>
                    </div>
                    <a href="javascript:;" class="new-message"> Enviar outra mensagem</a>
                </form>
            </div>

            <div class="contato-bottom">
                <a ggg="{{.midiasSociais}}" href="mailto:jean.goes00@gmail.com" class="email">jean.goes00@gmail.com</a>

                <div class="sm-contato">

                    {{ partial "social-media" (dict `` `
                    ` "context" . `` `
                    ` "viewVimeo" .viewVimeo `` `
                    ` "linkVimeoContact" .linkVimeoContact `` ` 
                    ` "viewYoutube" .viewYoutube `` `
                    ` "linkYoutubeContact" .linkYoutubeContact `` ` 
                    ` "viewInsta" .viewInsta `` `
                    ` "linkInstaContact" .linkInstaContact `` ` 
                    ` "viewWhats" .viewWhats `` `
                    ` "linkWhatsContact" .linkWhatsContact `` ` 
                    ` "viewLinkedin" .viewLinkedin `` `
                    ` "linkLinkedinContact" .linkLinkedinContact `` ` 
                    ` "viewFace" .viewFace `` `
                    ` "linkFaceContact" .linkFaceContact) `` ` 
                    ` -}}

                </div>
            </div>

        </div>

    </div>


</section>