<section id="contato" class="container-contato contato-await scroll">

    <div class="content-active">

        <div class="contato-actions">

            <a href="javascript:;" class="contato-link openmenu">
                <p class="text-contato">Entre em contato</p>
                <img src="../assets/icons/triangle.svg" class="seta-contato">
            </a>

            <a href="javascript:;" class="close-btn"><img src="../assets/icons/close-btn.svg" style="width:40px;" /></a>

        </div>

        <div class="contato-content ">

            <div class="contato-top">

                <div class="resume-header">
                    <img class="foto-perfil" src="../assets/img/perfil_jean.jpg" />

                    <div class="resume-description">
                        <p class="resume-text"> Mussum Ipsum, cacilds vidis litro abertis.
                            Mé faiz elementum girarzis, nisi eros vermeio eros eros eros. </p>
        
                        <a href="javascript:;" class="resume-btn">
                            <img src="../assets/icons/download-button.svg" class="resume-icon">
                            Currículo
                        </a>
                    </div>
                   
                </div>

                <form netlify data-netlify="true" name="Contato" method="post" id="contato-form" action="sucesso" class="form">

                    <input id="nome-form" type="text" name="nome" placeholder="nome" class="form-field" />

                    <input id="email-form" type="text" name="email" placeholder="e-mail" class="form-field" />

                    <input id="assunto-form" type="text" name="assunto" placeholder="assunto" class="form-field" />

                    <input class="hidden" name="bot-field" placeholder="Don't fill this out if you're a human"/>

                    <textarea id="mensagem-form" name="mensagem" form="contato-form" placeholder="mensagem"
                        class="form-field scroll"></textarea>

                    <div class="submit-btn">
                        <button type="submit">Enviar</button>
                    </div>
                </form>
            </div>

            <div class="contato-bottom">
                <a ggg="{{.midiasSociais}}" href="mailto:jean.goes00@gmail.com" class="email">jean.goes00@gmail.com</a>

                <div class="sm-contato">

                    {{ partial "social-media" (dict `` `
                    ` "context" . `` `
                    ` "viewVimeo" .viewVimeo `` `
                    ` "linkVimeoContact" .linkVimeoContact `` ` 
                    ` "viewYoutube" .viewYoutube `` `
                    ` "linkYoutubeContact" .linkYoutubeContact `` ` 
                    ` "viewInsta" .viewInsta `` `
                    ` "linkInstaContact" .linkInstaContact `` ` 
                    ` "viewWhats" .viewWhats `` `
                    ` "linkWhatsContact" .linkWhatsContact `` ` 
                    ` "viewLinkedin" .viewLinkedin `` `
                    ` "linkLinkedinContact" .linkLinkedinContact `` ` 
                    ` "viewFace" .viewFace `` `
                    ` "linkFaceContact" .linkFaceContact) `` ` 
                    ` -}}

                </div>
            </div>

        </div>

    </div>


</section>