<header class="menu-layout">
    <a href="javascript:;" class="mobile-menu">
            <!-- <img src="assets/img/menu-button.svg"/>  -->
            <div class="menu-btn not-active">
               <span></span>
               <span></span>
               <span></span>
             </div>
       </a>
<nav class="menu" id="menu">
  <img src="../assets/icons/triangle.svg" class="setas"/>
    <a href="/"  class="menu-item item-active"><p>Início</p></a>
    <a href="/edicao-motion" class="menu-item"><p>Edição e Motion</p></a>
    <a href="#cinema" class="menu-item"><p>Cinema</p></a>
    <a href="#outros" class="menu-item"><p>Outros ?</p></a>
    <a href="#fita-crepe" class="menu-item"><p>Fita Crepe Produções</p></a>
    <a href="#fita-crepe" class="menu-item"><p>Sobre Mim</p></a>
  <img src="../assets/icons/triangle.svg" class="setas seta-inv"/>
</nav>

<div class="copyright">
    <span>
        © Copyright Jean Goes 2020
    </span>
</div>
</header>
