<header class="menu-layout">

  <div class="mobile-menu">
    <div style="height: 70px;">
      <a href="/" class="menu-img-wrap">
        <img class="mobile-menu-img" src="{{ .Site.Params.logoSite }}" />
      </a>
    </div>
    <a class="menu-button" href="javascript:;">
      <div class="mobile-menu-wrap shadow">
        <!-- <div class="menu-btn not-active">
          <span></span>
          <span></span>
          <span></span>
        </div> -->
        <p>Menu</p>
        <div>
          <svg class="seta-menu" xmlns="http://www.w3.org/2000/svg" width="35.578" height="35.58" viewBox="0 0 35.578 35.58">
            <path id="Caminho_1377" data-name="Caminho 1377" d="M.016,0C11.934,11.793,23.707,23.818,35.578,35.568H1.038c-1.227.016-1.028.15-1.022-1.061Z" fill="#fff"/>
          </svg>
        </div>
      </div>
    </a>

  </div>


  <nav class="menu shadow" id="menu">
    <img src="../assets/icons/triangle.svg" class="setas" />
    <!-- {{ $url := .URL }} -->
    <a href="/" class="menu-item {{ if eq $url "/" }}item-active{{ end }}">
      <p>Início</p>
    </a>
    <a href="/edicao-motion" class="menu-item {{ if eq $url "/edicao-motion/" }}item-active{{ end }}">
      <p>Edição e Motion</p>
    </a>
    <a href="/cinema" class="menu-item {{ if eq $url "/cinema/" }}item-active{{ end }}">
      <p>Cinema</p>
    </a>
    <a href="/outros" class="menu-item {{ if eq $url "/outros/" }}item-active{{ end }}">
      <p>Outros ?</p>
    </a>
    <a href="#fita-crepe" class="menu-item {{ if eq $url "/fita-crepe/" }}item-active{{ end }}">
      <p>Fita Crepe Produções</p>
    </a>
    <a href="#sobre-mim" class="menu-item {{ if eq $url "/sobre-mim/" }}item-active{{ end }}">
      <p>Sobre Mim</p>
    </a>
    <img src="../assets/icons/triangle.svg" class="setas seta-inv" />
  </nav>

  <div class="copyright">
    <span>
      © Copyright Jean Goes 2020
    </span>
  </div>
</header>