<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#2f2f31" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#2f2f31" />

    <!-- HTML Meta Tags -->
    {{ $title := site.Title }}
    {{ if not .IsHome }}
      {{ $title = printf "%s | %s" .Title site.Title }}
    {{ end }}
    <title>
      {{ $title }}
    </title>
    <meta name="author" content="Gabriela Gonçalves - www.gabidigital.work">
    <meta name="description" content="{{ .Site.Params.description }}">
    <!-- <link rel="image_src" href="http://www.gabidigital.work/assets/img/thumb-redessociais-gabidigital.jpg" /> -->
    <!-- <link rel="canonical" href="http://www.gabidigital.work/"> -->

    <!-- FAVICON -->
    <!-- third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href=" {{ .Site.Params.favSite }} ">
    <!-- iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="{{ .Site.Params.favSite }}">
    <!-- first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
         href="{{ .Site.Params.favSite }}">
    <!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->      
    <link rel="apple-touch-icon-precomposed" href="{{ .Site.Params.favSite }}">
    <!-- basic favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ .Site.Params.favSite }}" />
    <link rel="icon" type="image/png" href="{{ .Site.Params.favSite }}" />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Jean Goes">
    <meta itemprop="description" content="{{ .Site.Params.description  }}">
    <meta itemprop="image" content="{{ .Site.Params.dominio }}{{ .Site.Params.thumbRect }}">
    <meta name="google-site-verification" content="H_kbNaZbGg6_6A9Oc-H87T-ezXwAHEZVN19vH96hxfM" />
    
    <!-- Facebook     -->
    <meta property="og:site_name" content="Jean Goes" />
    <meta property="og:title" content="Jean Goes" />
    <meta property="og:description" content="{{ .Site.Params.description  }}" />
    <meta property="og:image" content="{{ .Site.Params.dominio }}{{ .Site.Params.thumbRect }}">
    <meta property="og:image:type" content="image/jpg" />             
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <!-- <meta property="og:url" content="https://www.anamon.com.br/"> -->
    <meta property="og:type" content="website" />

    <meta property="og:image" content="{{ .Site.Params.dominio }}{{ .Site.Params.thumbQuad }}" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="630" />
    <meta property="og:image:height" content="630" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ .Site.Params.dominio }}{{ .Site.Params.thumbRect }}">
    <meta name="twitter:image:alt" content="{{ .Site.Params.description  }}">

    <!-- Pinterest -->
    <meta property="pin:media" content="{{ .Site.Params.dominio }}{{ .Site.Params.thumbRect }}"/>
    <meta property="pin:description" content="{{ .Site.Params.description  }}" />

    <!-- External Links -->

    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="../assets/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../assets/style.css" />
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript">
      $(window).on('load', function () {
          $('#cover').fadeOut(500);
      });
    </script> 

    <script type="text/javascript" src="../assets/js/script.js"></script>

    <script src="https://cdn.netlify.com/js/850db0f8f3e16fcfe260f5445fa0fda1cb527c0e/netlify-identity-widget.js"></script>
    <script type="text/javascript">
        window.onload = function() {
          netlifyIdentity.setLocale('pt')
        }
    </script> 
   
</head>