<div id="modal" class="modal-bg">

    <div class="other-modal-container">

        <div class="other-modal-content">

            <div class="header-other-modal">
                <div style="display: flex; padding-top: 5px;">
                    <img src="../assets/icons/triangle.svg" class="seta-contato modal-title-triangle">
                    <h2 id="otherTitle">  </h2>
                </div>
                <a href="javascript:;" class="close-btn close-modal close-modal-btn">
                    <img src="../assets/icons/close-btn.svg" style="width:25px;" />
                </a>
            </div>
            <div class="bottom-other-modal scroll">
                <div class="bottom-info">
                    <div class="modal-info-text">
                        <div>
                            <h3 id="otherCategory"> </h3>
                            <p id="otherDescription"> </p>
                        </div>
                    </div>
                    <img id="otherImage" src="../assets/uploads/pages/frame7.png" />
                </div>
                <div id="otherContent" class="bottom-content">
                    
                </div>
            </div>
        </div>

    </div>

</div>