<div id="modal" class="modal-bg">

    <div class="other-modal-container">

        <div class="other-modal-content">

            <div class="header-other-modal">

                <h2 id="" style="font-size: 26px;"> Roteiro Curta Metragem Culpa </h2>
                <a href="javascript:;" class="close-btn close-modal close-modal-btn">
                    <img src="../assets/icons/close-btn.svg" style="width:25px;" />
                </a>
            </div>
            <div class="bottom-other-modal scroll">
                <div class="bottom-info">
                    <div class="modal-info-text">
                        <h3> Roteiro </h3>
                        <p> Mussum Ipsum, cacilds vidis litro abertis. 
                            Mé faiz elementum girarzis, nisi eros vermeio. Nullam volutpat risus nec 
                            leo commodo, ut interdum diam laoreet. Sed non consequat odio. Si num tem
                            leite então bota uma pinga aí cumpadi! Mauris nec dolor in eros commodo tempor.  
                        </p>
                    </div>
                    <img src="../assets/uploads/pages/frame7.png" />
                </div>
                <div class="bottom-content">
                    <p> Mussum Ipsum, cacilds vidis litro abertis. 
                        Mé faiz elementum girarzis, nisi eros vermeio. Nullam volutpat risus nec 
                        leo commodo, ut interdum diam laoreet. Sed non consequat odio. Si num tem
                        leite então bota uma pinga aí cumpadi! Mauris nec dolor in eros commodo tempor.  
                    </p>
                    <p> Mussum Ipsum, cacilds vidis litro abertis. 
                        Mé faiz elementum girarzis, nisi eros vermeio. Nullam volutpat risus nec 
                        leo commodo, ut interdum diam laoreet. Sed non consequat odio. Si num tem
                        leite então bota uma pinga aí cumpadi! Mauris nec dolor in eros commodo tempor.  
                    </p>
                    <img src="../assets/uploads/pages/frame8.png" />
                    <p> Mussum Ipsum, cacilds vidis litro abertis. 
                        Mé faiz elementum girarzis, nisi eros vermeio. Nullam volutpat risus nec 
                        leo commodo, ut interdum diam laoreet. Sed non consequat odio. Si num tem
                        leite então bota uma pinga aí cumpadi! Mauris nec dolor in eros commodo tempor.  
                    </p>
                    <p> Mussum Ipsum, cacilds vidis litro abertis. 
                        Mé faiz elementum girarzis, nisi eros vermeio. Nullam volutpat risus nec 
                        leo commodo, ut interdum diam laoreet. Sed non consequat odio. Si num tem
                        leite então bota uma pinga aí cumpadi! Mauris nec dolor in eros commodo tempor.  
                    </p>

                </div>
            </div>
        </div>

    </div>

</div>