<div class="container-grid grid-item-hover" tag-filter="">
    <a href="javascript:;" class="grid-item open-other-modal ">
      <div class="grid-media">
        <img src="{{ .otherImage }}" />
      </div>
  
      <div class="video-details">
        <h2>{{ .otherTitle }}</h2>
        <h3>{{ .otherCategory }}</h3>
        <div class="video-roles-wrap">
            <p class="other-description"> {{ .otherDescription }} </p>
        </div>
      </div>
  
      <input type="hidden" value="{{ .otherTitle }}" id="otherTitle" />
      <input type="hidden" value="{{ .otherCategory }}" id="otherCategory" />
      <input type="hidden" value="{{ .otherImage }}" id="otheImage" />
      <input type="hidden" value="{{ .otherContent }}" id="otheCotent" />

    </a>
  </div>
  
  
  