{{ if .midiasSociais.perfilVimeo.viewVimeo }}
    <a href="{{ .midiasSociais.perfilVimeo.linkVimeoContact }}" class="social-media-icon" target="_blank">
        <img src="../assets/icons/Vimeo.svg" />
    </a>
{{ end }}

{{ if .midiasSociais.perfilYoutube.viewYoutube }}
    <a href="{{ .midiasSociais.perfilYoutube.linkYoutubeContact }}" class="social-media-icon" target="_blank">
        <img src="../assets/icons/YouTube.svg"/>
    </a>
{{ end }}

{{ if eq .midiasSociais.perfilInsta.viewInsta true }}
    <a href="{{ .midiasSociais.perfilInsta.linkInstaContact }}" class="social-media-icon" target="_blank">
        <img src="../assets/icons/Instagram.svg"/>
    </a>
{{ end }}

<h1>
    {{ .midiasSociais.perfilInsta.viewInsta }}
</h1>

<a href="{{ index .midiasSociais.perfilInsta "viewInsta" }}" teste="{{ index .midiasSociais.perfilInsta "viewInsta" }}" ggg3="{{.midiasSociais}}" ggg4="{{.midiasSociais.perfilInsta.linkInstaContact}}" class="social-media-icon" target="_blank">
    <img src="../assets/icons/Instagram.svg"/>
</a>

{{ if .midiasSociais.perfilWhats.viewWhats }}
    <a href="{{ .midiasSociais.perfilWhats.linkWhatsContact }}" class="social-media-icon" target="_blank">
        <img src="../assets/icons/Whatsapp.svg"/>
    </a>
{{ end }}

{{ if .midiasSociais.perfilLinkedin.viewLinkedin }}
    <a href="{{ .midiasSociais.perfilLinkedin.linkLinkedinContact }}" class="social-media-icon" target="_blank">
        <img src="../assets/icons/Linkedin.svg"/>
    </a>
{{ end }}

{{ if .midiasSociais.perfilFace.viewFace }}
    <a href="{{ .midiasSociais.perfilFace.linkFaceContact }}" class="social-media-icon" target="_blank">
        <img src="../assets/icons/Facebook.svg"/>
    </a>
{{ end }}
