<a href="{{ .midiasSocias.linkVimeoContact }}" class="social-media-icon" target="_blank">
    <img src="../assets/icons/Vimeo.svg"/>
</a>
<a href="javascript:;" class="social-media-icon" target="_blank">
    <img src="../assets/icons/YouTube.svg"/>
</a>
<a href="javascript:;" class="social-media-icon" target="_blank">
    <img src="../assets/icons/Instagram.svg"/>
</a>
<a href="javascript:;" class="social-media-icon" target="_blank">
    <img src="../assets/icons/Whatsapp.svg"/>
</a>
<a href="javascript:;" class="social-media-icon" target="_blank">
    <img src="../assets/icons/Linkedin.svg"/>
</a>
<a href="javascript:;" class="social-media-icon" target="_blank">
    <img src="../assets/icons/Facebook.svg"/>
</a>