<div class="container-grid grid-item-hover" tag-filter="{{ delimit .videoRoles ","}}">
  <a href="javascript:;" class="grid-item open-cinema-modal ">
    <div class="grid-media">
      <img src="{{ .videoImage }}" loading="lazy"/>
      <div class="gif-hover" style="background-image: url('{{ .videoGif }}');">
        <!-- <div class="title-hover">
         
        </div> -->
      </div>
    </div>

    <div class="video-details">
      <h2>{{ .videoTitle }}</h2>
      <h3>{{ .videoCategory }}</h3>

      <div class="video-roles-wrap">

      {{ range .videoRoles }}
        <p class="video-roles"> {{ . }} <span> | &nbsp</span></p>
      {{end}}

      </div>

    </div>

    <input type="hidden" value="{{ .videoTitle }}" id="videoTitle" />
    <input type="hidden" value="{{ .videoLink }}" id="videoLink" />
    <input type="hidden" value="{{ .videoImage }}" id="videoImage" />
    <input type="hidden" value="{{ .videoDescription }}" id="videoDescription" />
    <input type="hidden" value="{{ .videoCategory }}" id="videoCategory" />
    <input type="hidden" value="{{ delimit .videoRoles ", " }}" id="videoRoles"/>
  </a>

  <div id="videoContent" style="display: none;"> <p>{{ .videoContent | markdownify }}</p> </div>

</div>


