<div class="container-grid" tag-filter="{{ .videoCategory }}">
  <a href="javascript:;" class="grid-item open-modal">
    <div class="grid-media">
      <img src="{{ .videoImage }}" />
      <div class="gif-hover" style="background-image: url('{{ .videoGif }}');">
        <div class="title-hover">
          <div class="title-hover-content">
            <h2>{{ .videoTitle }}</h2>
            <h3>{{ .videoCategory }}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="video-details hide" >
      <h2>{{ .videoTitle }}</h2>
      <h3>{{ .videoCategory }}</h3>
    </div>

    <input type="hidden" value="{{ .videoTitle }}" id="videoTitle" />
    <input type="hidden" value="{{ .videoLink }}" id="videoLink" />
    <input type="hidden" value="{{ .videoImage }}" id="videoImage" />
    <input type="hidden" value="{{ delimit .videoRoles ", " }}" id="videoRoles"
    />
  </a>
</div>


