<div class="container-grid" style="order: 1;">
    <a href="javascript:;" class="grid-item open-modal">
        <div class="grid-media">
        <img src="{{ .videoImage }}" />
        <div class="gif-hover" style="background-image: url('{{ .videoGif }}');">
            <div class="title-hover">
            <div class="title-hover-content">
                <h2> {{ .videoTitle }} </h2>
                <h3> {{ .videoCategory }} </h3>
            </div>
            </div>
        </div>
        </div>
    </a>
</div>