{{ define "main" }}

<section id="pages" class="pages scroll">

    <div class="container-wrap">

        {{ partial "contato" (dict `` `
                ` "viewVimeo" .Site.Params.perfilVimeo.viewVimeo `` `
                ` "linkVimeoContact" .Site.Params.perfilVimeo.linkVimeoContact `` ` 
                ` "viewYoutube" .Site.Params.perfilYoutube.viewYoutube `` `
                ` "linkYoutubeContact" .Site.Params.perfilYoutube.linkYoutubeContact `` ` 
                ` "viewInsta" .Site.Params.perfilInsta.viewInsta `` `
                ` "linkInstaContact" .Site.Params.perfilInsta.linkInstaContact `` ` 
                ` "viewWhats" .Site.Params.perfilWhats.viewWhats `` `
                ` "linkWhatsContact" .Site.Params.perfilWhats.linkWhatsContact `` ` 
                ` "viewLinkedin" .Site.Params.perfilLinkedin.viewLinkedin `` `
                ` "linkLinkedinContact" .Site.Params.perfilLinkedin.linkLinkedinContact `` ` 
                ` "viewFace" .Site.Params.perfilFace.viewFace `` `
                ` "linkFaceContact" .Site.Params.perfilFace.linkFaceContact `` ` 
                ` "fotoPerfil" .Site.Params.fotoPerfil `` ` 
                ` "contactDescription" .Site.Params.contactDescription `` ` 
                ` "curriculum" .Site.Params.curriculum `` ` 
                ` "dominio" .Site.Params.dominio `` `
                ` "contactEmail" .Site.Params.contactEmail ) `` ` 
                ` -}}

        <div class="container container-page">

            <div class="not-found">
                <img style="width: 80px;" src="/assets/icons/popcorn.svg" loading="lazy"/>
                <h2>Desculpe, não conseguimos encontrar essa página :/</h2>
                <h3 style="margin-top: 0; color: rgba(255, 255, 255, 0.4);">Erro 404 - Página Não Encontrada</h3>
            </div>

            {{ partial "footer" . }}

        </div>
        
    </div>

</section>



{{ end }}
