{{ define "main" }}

<section id="pages" class="pages scroll">
  <!-- <div class="page-container"> -->

  <div class="container-wrap">

    {{ partial "contato" (dict `` `
    ` "viewVimeo" .Site.Params.perfilVimeo.viewVimeo `` `
    ` "linkVimeoContact" .Site.Params.perfilVimeo.linkVimeoContact `` ` 
    ` "viewYoutube" .Site.Params.perfilYoutube.viewYoutube `` `
    ` "linkYoutubeContact" .Site.Params.perfilYoutube.linkYoutubeContact `` ` 
    ` "viewInsta" .Site.Params.perfilInsta.viewInsta `` `
    ` "linkInstaContact" .Site.Params.perfilInsta.linkInstaContact `` ` 
    ` "viewWhats" .Site.Params.perfilWhats.viewWhats `` `
    ` "linkWhatsContact" .Params.perfilWhats.linkWhatsContact `` ` 
    ` "viewLinkedin" .Site.Params.perfilLinkedin.viewLinkedin `` `
    ` "linkLinkedinContact" .Site.Params.perfilLinkedin.linkLinkedinContact `` ` 
    ` "viewFace" .Site.Params.perfilFace.viewFace `` `
    ` "linkFaceContact" .Site.Params.perfilFace.linkFaceContact `` ` 
    ` "fotoPerfil" .Site.Params.fotoPerfil `` `
    ` "contactDescription" .Site.Params.contactDescription `` ` 
    ` "curriculum" .Site.Params.curriculum `` ` 
    ` "dominio" .Site.Params.dominio ) `` `  
    ` -}}

    <div class="container container-page">

      <div id="flex-page">

        <div class="grid-title">

          <div id="simple-title">
            <h1 class="page-title"> Cinema </h1>
            <p>Selecione uma categoria para filtrar:</p>
            <ul id="tag-container">

                {{ range .Site.Params.allVideoRoles }}

                <li> <a href="javascript:;" class="tag-btn grid-item-tag"> {{ . }} <span></span></a></li>
          
                {{end}}
      
            </ul>
          </div>

        </div>

        {{ with .Params.videoGrid}}

        <div class="grid scroll auto-rows scroll auto-rows-controller" id="grid" style="padding: 15px; grid-gap: 5px;">

          {{ range . }}

          {{ partial "video-grid-details" . }}

          {{end}}

        </div>

        <div class="grid grid-template hide" id="grid">
          <div class="empty-state">
            <div class="empty-state-wrap">
              <img style="width: 30px;" src="/assets/icons/empty.svg" />
              <p style="margin: 0;
                font-size: 16px;
                color: rgba(255, 255, 255, 0.4);">Nenhum vídeo aqui</p>
            </div>
          </div>
        </div>

        {{ else }}

        <div class="grid grid-template" id="grid">

          <div class="empty-state">
            <div class="empty-state-wrap">
              <img style="width: 30px;" src="/assets/icons/empty.svg" />
              <p style="margin: 0;
                font-size: 16px;
                color: rgba(255, 255, 255, 0.4);">Nenhum vídeo aqui</p>
            </div>
          </div>

        </div>

        {{end}}

      </div>

      {{ partial "footer" . }}

    </div>

  </div>

</section>

{{ partial "modal" . }}

{{ end }}