{{ define "main" }}

  <section id="pages" class="scroll">          
      <!-- <div class="page-container"> -->
      <div class="container">
        
        {{ partial "contato" (dict `` `
        ` "viewVimeo" .Site.Params.perfilVimeo.viewVimeo `` `
        ` "linkVimeoContact" .Site.Params.perfilVimeo.linkVimeoContact `` ` 
        ` "viewYoutube" .Site.Params.perfilYoutube.viewYoutube `` `
        ` "linkYoutubeContact" .Site.Params.perfilYoutube.linkYoutubeContact `` ` 
        ` "viewInsta" .Site.Params.perfilInsta.viewInsta `` `
        ` "linkInstaContact" .Site.Params.perfilInsta.linkInstaContact `` ` 
        ` "viewWhats" .Site.Params.perfilWhats.viewWhats `` `
        ` "linkWhatsContact" .Params.perfilWhats.linkWhatsContact `` ` 
        ` "viewLinkedin" .Site.Params.perfilLinkedin.viewLinkedin `` `
        ` "linkLinkedinContact" .Site.Params.perfilLinkedin.linkLinkedinContact `` ` 
        ` "viewFace" .Site.Params.perfilFace.viewFace `` `
        ` "linkFaceContact" .Site.Params.perfilFace.linkFaceContact `` ` 
        ` "fotoPerfil" .Site.Params.fotoPerfil `` `
        ` "contactDescription" .Site.Params.contactDescription `` ` 
        ` "curriculum" .Site.Params.curriculum `` ` 
        ` "dominio" .Site.Params.dominio ) `` `  
        ` -}}

          <div class="grid scroll" id="grid">
              <div style="background-color: red; height: 200px">

              </div>
          </div>

          {{ partial "footer" . }}
  
      </div>
      
  </section>

{{ end }}