{{ define "main" }}

<section id="pages" class="pages scroll">
  <!-- <div class="page-container"> -->

  <div class="container-wrap contato-promotion">

    {{ partial "contato" (dict `` `
    ` "viewVimeo" .Site.Params.perfilVimeo.viewVimeo `` `
    ` "linkVimeoContact" .Site.Params.perfilVimeo.linkVimeoContact `` ` 
    ` "viewYoutube" .Site.Params.perfilYoutube.viewYoutube `` `
    ` "linkYoutubeContact" .Site.Params.perfilYoutube.linkYoutubeContact `` ` 
    ` "viewInsta" .Site.Params.perfilInsta.viewInsta `` `
    ` "linkInstaContact" .Site.Params.perfilInsta.linkInstaContact `` ` 
    ` "viewWhats" .Site.Params.perfilWhats.viewWhats `` `
    ` "linkWhatsContact" .Site.Params.perfilWhats.linkWhatsContact `` ` 
    ` "viewLinkedin" .Site.Params.perfilLinkedin.viewLinkedin `` `
    ` "linkLinkedinContact" .Site.Params.perfilLinkedin.linkLinkedinContact `` ` 
    ` "viewFace" .Site.Params.perfilFace.viewFace `` `
    ` "linkFaceContact" .Site.Params.perfilFace.linkFaceContact `` ` 
    ` "fotoPerfil" .Site.Params.fotoPerfil `` `
    ` "contactDescription" .Site.Params.contactDescription `` ` 
    ` "curriculum" .Site.Params.curriculum `` ` 
    ` "dominio" .Site.Params.dominio `` `
    ` "contactEmail" .Site.Params.contactEmail ) `` ` 
    ` -}}

    <div class="container container-page loading-all">

      {{ partial "loading" . }}

      <div id="flex-page">

        <div class="promotion-page">

          <div class="header-promotion">
      
              <div class="header-promotion-top banner-img" style="background-image: url('{{ .Params.bannerFitaCrepe }}');">
                  <div class="gradiente-banner">
                    <img src="{{ .Params.logoFitaCrepe }}" class="foto-perfil perfil-promotion"/>
                    <h1 class="page-title title-promotion">{{ .Params.title }}</h1>
                  </div>
              </div>
      
              <div class="header-promotion-bottom">
                  <div class="promotion-resumo">
                    <div class="promotion-icon">
                      <img src="/assets/uploads/fita-crepe/camera.svg" />
                    </div>
                      
                      <p>
                        {{ .Params.cameraText }}
                      </p>
                  </div>
      
                  <div class="promotion-resumo">
                    <div class="promotion-icon">
                      <img src="/assets/uploads/fita-crepe/pc-edicao.svg" />
                    </div>
                      
                      <p> 
                        {{ .Params.computerText }}
                      </p>
                  </div>
      
              </div>
      
          </div>
      
          <div class="bottom-promotion">
      
              <div class="content-bottom-promotion">
                {{ .Params.contentFitaCrepe | markdownify }}
              </div>
      
              <div class="grid-promotion">
                <img src="{{ .Params.fotoContentFitaCrepe }}" />
              </div>
      
          </div>

          <iframe 
          allowtransparency="true" 
          allowfullscreen="true" 
          scrolling="no" 
          allow="encrypted-media" 
          style="display:none; border: medium none; visibility: visible; width: 0; height: 0;" 
          src="" class="" width="0" height="0" frameborder="0"></iframe>
          <div class="facebook-stripe">
            <p>Curta nossa página no Facebook</p>
            <iframe src="https://www.facebook.com/v9.0/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fproducoesfitacrepe&tabs&width=400&height=130&small_header=false&hide_cover=false&show_facepile=true&appId&width=400" 
                    width="400px" height="130px" 
                    style="border:none; overflow:hidden; width: 400px; height: 130px;" 
                    scrolling="no" 
                    frameborder="0" 
                    allowfullscreen="true" 
                    allow="web-share">
            </iframe>
          </div>
     
        
        </div>

      </div>

      {{ partial "footer" . }}

    </div>

  </div>

</section>


{{ end }}