{{ define "main" }}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" 
        src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v9.0" 
        nonce="XLbiFFcW">
</script>

<section id="pages" class="pages scroll">
  <!-- <div class="page-container"> -->

  <div class="container-wrap contato-promotion">

    {{ partial "contato" (dict `` `
    ` "viewVimeo" .Site.Params.perfilVimeo.viewVimeo `` `
    ` "linkVimeoContact" .Site.Params.perfilVimeo.linkVimeoContact `` ` 
    ` "viewYoutube" .Site.Params.perfilYoutube.viewYoutube `` `
    ` "linkYoutubeContact" .Site.Params.perfilYoutube.linkYoutubeContact `` ` 
    ` "viewInsta" .Site.Params.perfilInsta.viewInsta `` `
    ` "linkInstaContact" .Site.Params.perfilInsta.linkInstaContact `` ` 
    ` "viewWhats" .Site.Params.perfilWhats.viewWhats `` `
    ` "linkWhatsContact" .Site.Params.perfilWhats.linkWhatsContact `` ` 
    ` "viewLinkedin" .Site.Params.perfilLinkedin.viewLinkedin `` `
    ` "linkLinkedinContact" .Site.Params.perfilLinkedin.linkLinkedinContact `` ` 
    ` "viewFace" .Site.Params.perfilFace.viewFace `` `
    ` "linkFaceContact" .Site.Params.perfilFace.linkFaceContact `` ` 
    ` "fotoPerfil" .Site.Params.fotoPerfil `` `
    ` "contactDescription" .Site.Params.contactDescription `` ` 
    ` "curriculum" .Site.Params.curriculum `` ` 
    ` "dominio" .Site.Params.dominio `` `
    ` "contactEmail" .Site.Params.contactEmail ) `` ` 
    ` -}}

    <div class="container container-page loading-all">

      {{ partial "loading" . }}

      <div id="flex-page">

        <div class="promotion-page">

          <div class="header-promotion">
      
              <div class="header-promotion-top banner-img" style="background-image: url('{{ .Params.bannerFitaCrepe }}');">
                  <div class="gradiente-banner">
                    <img src="{{ .Params.logoFitaCrepe }}" class="foto-perfil perfil-promotion"/>
                    <h1 class="page-title title-promotion">{{ .Params.title }}</h1>
                  </div>
              </div>
      
              <div class="header-promotion-bottom">
                  <div class="promotion-resumo">
                    <div class="promotion-icon">
                      <img src="/assets/uploads/fita-crepe/camera.svg" />
                    </div>
                      
                      <p>
                        {{ .Params.cameraText }}
                      </p>
                  </div>
      
                  <div class="promotion-resumo">
                    <div class="promotion-icon">
                      <img src="/assets/uploads/fita-crepe/pc-edicao.svg" />
                    </div>
                      
                      <p> 
                        {{ .Params.computerText }}
                      </p>
                  </div>
      
              </div>
      
          </div>
      
          <div class="bottom-promotion">
      
              <div class="content-bottom-promotion">
                {{ .Params.contentFitaCrepe | markdownify }}
              </div>
      
              <div class="grid-promotion">
                <img src="{{ .Params.fotoContentFitaCrepe }}" />
              </div>
      
          </div>

          <div class="facebook-stripe">
            <p>Curta nossa página no Facebook →</p>
            
            <div class="fb-page" 
                 style="width:400px"
                 data-href="https://www.facebook.com/producoesfitacrepe" 
                 data-tabs="" data-width="400" data-height="130" 
                 data-small-header="false" 
                 data-adapt-container-width="true" 
                 data-hide-cover="false" 
                 data-show-facepile="true">
                  <blockquote cite="https://www.facebook.com/producoesfitacrepe" 
                             class="fb-xfbml-parse-ignore">
                              <a href="https://www.facebook.com/producoesfitacrepe">
                              </a>
                  </blockquote>
            </div>
          </div>
     
        
        </div>

      </div>

      {{ partial "footer" . }}

    </div>

  </div>

</section>


{{ end }}